{% extends 'partials/base.html' %}
{% load static %}
{% block title %} <title>Home</title> {% endblock %}

{% block content %}

<style>
    .rating {
        display: inline-block;
    }
</style>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Category</span>
                        </div>
                        <ul>
                            {% for category_list in category %}
                                  <li><a href="{% url 'category' %}">{{ category_list.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="{% url 'product_search' %}" method="get">
                                <input type="text" name="query" placeholder="What do you need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+23 77.900.85</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                    <div class="hero__item set-bg" data-setbg="/static/img/hero/hero_2.jpg">
                        <div class="hero__text">
                            <span>FRUIT FRESH</span>
                            <h2>Welcome to Agri Online Market <br />100% Organic</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="{% url 'shop'%}" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% for product_category in category %}
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{{ product_category.image.url }}">
                            <h5><a href="{% url 'category' %}">{{ product_category.title }}</a></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".oranges">Vagetables</li>
                            <li data-filter=".fresh-meat">Rice</li>
                            <li data-filter=".vegetables">Greens</li>
                            <li data-filter=".fastfood">Oil</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% for product in product_list %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{{ product.image.url }}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#" class="add-to-favorites" data-product-id="{{ product.id }}"><i class="fa fa-heart"></i></a></li>
                                <li><a href="{% url 'shop_detail' product.id %}"><i class="fa fa-retweet"></i></a></li>
                                <li>
                                    <a href="javascript:void(0);" 
                                       class="add-to-cart" 
                                       data-id="{{ product.id }}" 
                                       data-title="{{ product.title }}" 
                                       data-price="{{ product.price }}" 
                                       data-image="{{ product.image.url }}">
                                       <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">{{ product.title }}</a></h6>
                            <h5>{{ product.price }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>          
            <!-- <div class="row featured__filter">
               {% for product in product_list %}
               <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg" data-setbg="{{ product.image.url }}">
                        <ul class="featured__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="{% url 'shop_detail' product.id %}"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="" id="add_to_cart-btn"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a href="#">{{ product.title }}</a></h6>
                        <h5>{{ product.price }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>  -->
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/banner-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/banner-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for top_product in lastest_product %}
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ top_product.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ top_product.title }}</h6>
                                        <span>{{ top_product.price }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                            {% for top_product in lastest_product %}
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ top_product.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ top_product.title }}</h6>
                                        <span>{{ top_product.price }}</span>
                                    </div>
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top Rated Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for rate_product in top_rated %}
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ rate_product.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ rate_product.title }}</h6>
                                        <span>{{ rate_product.price }}</span>
                                        <div class="rating">
                                            <i class="fa{% if rate_product.rating >= 5 %}s{% else %}r{% endif %} fa-star"></i>
                                        </div>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Review Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for top_product in lastest_product %}
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ top_product.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ top_product.title }}</h6>
                                        <span>{{ top_product.price }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                            {% for top_product in lastest_product %}
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ top_product.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ top_product.title }}</h6>
                                        <span>{{ top_product.price }}</span>
                                    </div>
                                </a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>From The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in blog_posts %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{{ post.image.url }}" alt="{{ post.title }}">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> {{ post.pub_date }}</li>
                                <li><i class="fa fa-comment-o"></i> {{ post.comment_count }}</li>
                            </ul>
                            <h5><a href="{{ post.content_url }}">{{ post.title }}</a></h5>
                            <p>{{ post.summary }}</p>
                            <a href="{{ post.content_url }}" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                         </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

<!-- <script>
    $(document).ready(function() {
        $('.add-to-cart').on('click', function() {
            let product_id = $(this).data('id');
            let product_title = $(this).data('title');
            let product_price = $(this).data('price');
            let product_image = $(this).data('image');
            let quantity = 1; // Default quantity is 1
    
            $.ajax({
                url: "/add_to_cart/",
                data: {
                    'id': product_id,
                    'qty': quantity,
                    'product_title': product_title,
                    'product_price': product_price,
                    'product_image': product_image,
                },
                dataType: 'json',
                beforeSend: function() {
                    console.log("Adding product to cart...");
                },
                success: function(response) {
                    console.log("Product added to cart successfully");
                    $('.cart-items-count').text(response.totalcartItem);
    
                    // Display SweetAlert success message
                    Swal.fire({
                        title: 'Success!',
                        text: 'Product added to cart successfully.',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                },
                error: function(xhr, status, error) {
                    console.log("Error adding product to cart:", error);
    
                    // Display SweetAlert error message
                    Swal.fire({
                        title: 'Error!',
                        text: 'There was an error adding the product to the cart.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });
    });
</script> -->
    
        

{% endblock %}